<br />
<div class="container">
  <h3>Todo list</h3>
  <!-- <input type="text"  /> -->
  <input
    class="form-control"
    type="text"
    placeholder="Enter anything then press add or update"
    aria-label="default input example"
    [(ngModel)]="courseName"
    #course
  />

  <button class="btn btn-success" (click)="addCourse(course)">Add</button>

  <ul>
    <li *ngFor="let todo of todos | keys">
      <!-- {{ course.value }} -->
      {{ todo.value }}

      <button class="btn btn-primary" (click)="OnUpdate(todo)">Update</button>
      <button class="btn btn-danger" (click)="OnDelete(todo.key)">
        Delete
      </button>
    </li>
  </ul>

  <h3>Counter</h3>
  <!-- <input type="text"  /> -->

  <ul>
    <li *ngFor="let todo of fruits | keys">
      <!-- {{ course.value }} -->
      {{ todo.key }} {{ todo.value}}

      <button class="btn btn-primary" (click)="OnIncr(todo)">+</button>
      <button class="btn btn-danger" (click)="OnDecr(todo)">-</button>
    </li>
  </ul>
  <button class="btn btn-primary">Show results</button>

</div>
